body {
    background-color: rgb(73, 183, 226);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body > button, input, div, p {
    margin: 10px 0; 
}
.welcome, .account-1, .account-2 {
    background-color: #2c2c2c;
    color: white;
}
